.home{
    padding-left: 7%;
     padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}
.banner{
    height: 250px; 
    margin-bottom: 50px;
}
h1{
    /* margin-top: 100px; */
    text-align: center;
    color: ghostwhite;
}