.top-detail{
    background-color: blue;
    border-radius: 10px;
    height: 240px;
    display: flex;
}
.banner-dynamic{
    background-position:right;
    background-repeat: no-repeat;
   width: 100vw;
   height: 200px;
}
.main-div{
    padding-top: 30px;
    background-color: black;
    color: aliceblue;
}
.explore-details{
   
    margin-left: 160px;
    margin-right: 160px;
}
.details{
    margin: 20px 20px 20px 20px;
    margin-right: 380px;
}
.icons{
    display: flex;
    margin-left: 500px;
}
.icon-sizing{
    margin-top: 30px;
    margin-left: 100px;
    padding-bottom: 30px;
}
.description{
    padding-top: 30px;
}
#trophy{
    margin-left: 20px;
}
#fanart{
    width: 400px;
    height: 180px;
}
.banner-dynamic img{
    height: 200px;
    width: 150px;
    /* margin-left: 100px; */
    
    /* margin-top: 30px; */
    /* margin-left: 650px; */
}
.genderImage{
    margin-left: 100px;
    margin-top: 14px;
    height: 200px;
}
.banner-badge{
    display: flex;
}